* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
a {
  color: black;
  text-decoration: none;
}
.backgroundimage {
  width: 100%;
  height: 939px;
  background: url("../images/backgroundimage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 0px;
  overflow: hidden;
}
.iconimage {
  width: 318px;
  height: 66px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 11px;
  overflow: hidden;
}
.loginwhitebox {
  width: 297px;
  height: 412px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 571px;
  overflow: hidden;
}
.usernamebox {
  width: 230px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 603px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.passwordbox {
  width: 230px;
  height: 30px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 603px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.redline {
  width: 230px;
  height: 36px;
  background: rgba(234,58,58,1);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 603px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.logintext {
  width: 54px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 334px;
  left: 627px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.signuptext {
  width: 66px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 334px;
  left: 746px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.usernametext {
  width: 102px;
  color: rgba(115,113,113,1);
  position: absolute;
  top: 406px;
  left: 617px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.passwordtext {
  width: 102px;
  color: rgba(115,113,113,1);
  position: absolute;
  top: 448px;
  left: 617px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.finallogintext {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 550px;
  left: 694px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.finalloginbox {
  width: 55px;
  height: 2px;
  background: rgba(234,58,58,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 626px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.savedetailstext {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 490px;
  left: 644px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.righttickbox {
  width: 20px;
  height: 19px;
  background: rgba(234,58,58,1);
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 603px;
  overflow: hidden;
}
.righttickimage {
  width: 20px;
  height: 19px;
  background: url("../images/righttickimage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 603px;
  overflow: hidden;
}
.forgetpasstext {
  width: 112px;
  color: rgba(115,113,113,1);
  position: absolute;
  top: 597px;
  left: 662px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v297_10 {
  width: 150px;
  color: rgb(131, 15, 15);
  position: absolute;
  top: 280px;
  left: 650px;
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}